.EditMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 30px;
  background: white;
  border-radius: 10px;
}

.EditMessage h4 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #4c4c4c;
}

.EditMessage textarea {
  background: #E5EAEE;
  padding: 10px 15px;
  color: #455167;
  border-radius: 10px;
  position: relative;
  right: -7px;
  font-size: 16px;
  line-height: 1.4;
  margin-right: 15px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 20px;
}

.EditMessage .btnEdit {
  color: #fff;
  background-color: #4d72a8;
  letter-spacing: .5px;
  font-size: 14px;
  padding: 10px 15px;
  align-self: flex-end;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.EditMessage .btnEdit:hover {
  background-color: #466997;
}

.EditMessage .btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  font-weight: bold;
  background: none;
  color: #5a5a5a;
}

.EditMessage .btnClose:hover {
  color: #2a2a2a;
}